*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 3px;
}
  
body::-webkit-scrollbar-track {
    background: #d8d8d8;
}

body::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover{
    transition: 0.5s;
    color: #8f8f8f;
}

header{
    position: fixed;
    
    overflow: auto;
    overflow-y: hidden;

    width: 100%;
    
    background-color: #232323;
    color: white;

    z-index: 1;

    opacity: 0.9;
}

header img{
    position: relative;

    float: left;

    left: 3vw;

    height: 120px;
    width: 130px;

    cursor: pointer;

    transition: .3s;
}

header img:hover{
    transform: scale(1.3);
}

nav{
    position: relative;

    float: right;

    right: 10%;

    padding: 30px;
}

nav li{
    list-style: none;
    float: left;
    margin-left: 50px;
    text-transform: uppercase;

    font-weight: 400;

    transition: .5s;

    cursor: pointer;
}

header nav li:hover{

    color: #8f8f8f;
}


/*   SECTION -HOME-   */

#home{
    height: 100vh;
    width: 100vw;
}

#containerSlider{
    position: relative;

    top: 0vh;
    
    height: 100vh;
    width: 100vw;

    background-color: #535353;
    background-image: url('../IMGS/slider/back1.jpg');
    background-size: cover;
    background-position-y: -7vh;
    background-repeat: no-repeat;

    transition: 2s;
}


/*   SECTION -Calculadora-   */

#calculator{
    height: 100vh;
    width: 100vw;

    background-color: #ffffff;

    background-image: url('../IMGS/back_calculator.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.middleContent{
    float: left;
    position: relative;

    top: 24vh;
    left: 5vw;
    
    height: 68vh;
    width: 63vw;

    padding: 5px 10px 5px 10px;

    border-radius: 10px;

    background-color: #e6e6e6e7;

    transition: 0.3s;

    box-shadow: 0em 0em 3em black;
}

.titulo{
    width: 100%;

    padding-left: 0.2em;

    color: #232323;
    font-size: 2em;
    font-weight: bold;
}

.conteudoFormulario{
    height: 85%;
    width: 100%;
}

.formPart{
    float: left;
    position: relative;

    top: 1vh;
    left: 0.2vw;

    padding: 10px;
    margin-left: 0.5vw;

    height: 95%;
    width: 35.5%;

    border: 1px solid;
    border-radius: 10px;
}

#FormPt1{
    width: 17.3%;
}

#FormPt2{
    width: 22.3%;
}

.topicoFormularioCalculadora{
    height: auto;
    width: 100%;

    margin: 0 auto;
}

.txtFormularioCalculadora{
    font-weight: bold;
}

.inpt{
    width: 6vw;

    background-color: #d8d8d8e7;

    padding: 10px;
    
    border: none;
    border-bottom: 1px solid black;

    outline: none;
}


.asideContent{
    float: left;
    position: relative;

    top: 24vh;
    left: 10vw;
    
    height: 70vh;
    width: 20vw;

    border-radius: 10px;

    background-color: #cececee7;

    transition: 0.3s;

    box-shadow: 0em 0em 3em black;
}